<div class="pace  pace-inactive"><div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
<div class="pace-progress-inner"></div>
</div>
<div class="pace-activity"></div></div>

<div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="<%= url_for :controller => 'landings', :action => 'index' %>">HumanHealth</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="<%= url_for root_path %>">Home</a></li>
                    <li><a href="<%= url_for carehome_path %>">Care Homes</a></li>
                    <li><a href="<%= url_for motherbaby_path %>">Mother & Baby</a></li>
                    <li class="active" ><a href="<%= url_for doctordirectory_path %>">My Doctor</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Find A Doctor</h1>
                    <p>The Human Health Solution</p>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back one"></div>
        </div>
    </div>
</div>

<section id="about" class="container services">
<div class="row text-center wow fadeInDown">
    <div class="col-sm-3">
        <h2>Care Homes Systems</h2>
        <img src="<%= image_path('carehome.png') %>" class="img-responsive img-square" alt="" width="80%" style="padding-left:20%">
        <p>Technology to facilitate rapid and efficient communication between carers, patients, their relatives and doctors.</p>
        <p><br><a class="btn-primary" href="<%= url_for :controller => 'landings', :action => 'carehome' %>" role="button">Go To Care Homes &raquo;</a></p>
    </div>
    <div class="col-sm-3">
        <h2>Lactaction Consults</h2>
        <img src="<%= image_path('motherbaby.png') %>" class="img-responsive img-square" alt="" width="80%" style="padding-left:20%">
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        <p><br><a class="btn-primary" href="<%= url_for :controller => 'landings', :action => 'motherbaby' %>" role="button">Go To Mother & Baby &raquo;</a></p>
    </div>
    <div class="col-sm-3">
        <h2>Primary Care Consults</h2>
        <img src="<%= image_path('doctor.png') %>" class="img-responsive img-square" alt="" width="80%" style="padding-left:20%">
        <p>The fastest and easiest way to get care from some of the country’s top physicians. Care from the comfort of your own home.</p>
        <p><br><a class="btn-primary" href="<%= url_for :controller => 'landings', :action => 'doctordirectory' %>" role="button">Go To My Doctor &raquo;</a></p>
    </div>
    <div class="col-sm-3">
        <h2>Psycology Consults</h2>
        <img src="<%= image_path('psycology.png') %>" class="img-responsive img-square" alt="" width="80%" style="padding-left:20%">
        <p>Stress. Relationships. Depression. Tackle your emotional issues – from your own couch.</p>
        <p><br><a class="btn-primary" href="#" role="button">Go To My Mind &raquo;</a></p>
    </div>
</div>
</section>

<section class="container services">
<div class="row">
    <div class="col-lg-12 text-center">
        <div class="navy-line" style="margin-top:0;"></div>
        <h1>We bring quality, convenient, and affordable healthcare<br/>to private & NHS patients<span class="navy"> through online telemedicine solutions. </span> </h1>
        <p>Human Health has developed offerings for care homes, NHS practices, patients themselves, and more.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-3 text-center wow fadeInLeft">
        <div>
            <i class="fa fa-gbp features-icon"></i>
            <h2>Lower Costs</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
        </div>
        <div class="m-t-lg">
            <i class="fa fa-hospital-o features-icon"></i>
            <h2>Optimize Ops</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
        </div>
    </div>
    <div class="col-md-6 text-center  wow zoomIn">
        <img src="<%= image_path('phone.png') %>" alt="phone" class="img-responsive" style="margin-top:50px">
    </div>
    <div class="col-md-3 text-center wow fadeInRight">
        <div>
            <i class="fa fa-user-md features-icon"></i>
            <h2>Improve Care</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
        </div>
        <div class="m-t-lg">
            <i class="fa fa-heart features-icon"></i>
            <h2>Maintain Quality</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
        </div>
    </div>
</div>
</section>



<section id="team" class="gray-section team">
<div class="container">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Our Team</h1>
            <p>We are a passionate team, excited to create value for you through our Human Health solutions.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 wow fadeInLeft">
            <div class="team-member">
                <img src="<%= image_path('alexander.png') %>" class="img-responsive img-circle" alt="" width="50%">
                <h4><span class="navy">Alexander</span> Finlayson</h4>
                <p>Oxford GP and Academic Clinical Fellow in Cancer Medicine. Founder @Medicine Africa, @2023 Challenge.</p>
                <ul class="list-inline social-icon">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="https://uk.linkedin.com/in/alexanderfinlayson"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="team-member wow zoomIn">
                <img src="<%= image_path('nihal.png') %>" class="img-responsive img-circle" alt="" width="50%">
                <h4><span class="navy"> Nihal</span> Sinha</h4>
                <p>Former NHS doctor and Academic Clinical Fellow in Neurology at Oxford. Former BCG Consultant.</p>
                <ul class="list-inline social-icon">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="https://www.linkedin.com/in/nihalsinha1"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4 wow fadeInRight">
            <div class="team-member">
                <img src="<%= image_path('avatar1.jpg') %>" class="img-responsive img-circle" alt="" width="50%">
                <h4><span class="navy">Peter</span> Johnson</h4>
                <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.</p>
                <ul class="list-inline social-icon">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</section>

<section class="gray-section" style="margin-top: 0; padding-top: 20px">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center wow zoomIn">
                <h1>
                    Our Partners
                </h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
            </div>
        </div>
        <div class="row" style="margin:40px 0px;">
            <div class="col-sm-5 col-sm-offset-1">
                <%= image_tag "nhs_logo2.png", width: "100%" %>
            </div>
            <div class="col-sm-5 col-sm-offset-1">
                <%= image_tag "oxford_logo.png", width: "60%" %>
            </div>
    </div>
</section>

<section class="comments navy-section" style="margin-top: 0">
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>What our patients & partners say</h1>
            <p>We serve patients through online consultations, help doctors grow their practices, and allow care homes to better serve their residents.</p>
        </div>
    </div>
    <div class="row features-block wow fadeInUp">
        <div class="col-lg-4">
            <div class="bubble" style="color: black;">
                "I've been able to increase my register by almost 25% using HumanHealth and I can reach more patients, more quickly..."
            </div>
            <div class="comments-avatar">
                <a href="" class="pull-left">
                    <img alt="image" src="<%= image_path('avatar3.jpg') %>">
                </a>
                <div class="media-body">
                    <div class="commens-name">
                        Dr. Jeremy Dexter
                    </div>
                    <small class="text-muted">GP at Beumont Street Practice</small>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="bubble" style="color: black;">
                "We've loved working with Human Health. They're system is fast, simple..."
            </div>
            <div class="comments-avatar">
                <a href="" class="pull-left">
                    <img alt="image" src="<%= image_path('avatar4.jpg') %>">
                </a>
                <div class="media-body">
                    <div class="commens-name">
                        Andrew Williams
                    </div>
                    <small class="text-muted">Director at Oxford Care Homes</small>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="bubble" style="color: black;">
                "I loved how I didn't have to miss work to see my doctor..."
            </div>
            <div class="comments-avatar">
                <a href="" class="pull-left">
                    <img alt="image" src="<%= image_path('avatar2.jpg') %>">
                </a>
                <div class="media-body">
                    <div class="commens-name">
                        Micha Woods
                    </div>
                    <small class="text-muted">Business Consultant from London</small>
                </div>
            </div>
        </div>
    </div>
</div>

</section>

<section id="contact" class="gray-section contact" style="margin-top:0;">
<div class="container">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Contact Us</h1>
            <p>We'd love to tell you more about Human Health and answer any of your questions.</p>
        </div>
    </div>
    <div class="row m-b-lg">
        <div class="col-lg-3 col-lg-offset-3">
            <address>
                <strong><span class="navy">Human Health</span></strong><br/>
                43 Woodstock Rd<br/>
                Oxford, UK OX2 6HG<br/>
                <abbr title="Phone">P:</abbr> (747) 829-5822
            </address>
        </div>
        <div class="col-lg-4">
            <p class="text-color">
                Human Health is a UK-incorporated limited liability company based in Oxford. We are passionate about improving care and reducing costs in the UK healthcare system. We believe technology is one of the key answers.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <a href="mailto:info@humnhealth.com" class="btn btn-primary">Send Us an Email</a>
            <p class="m-t-sm">
                Or follow us on social media.
            </p>
            <ul class="list-inline social-icon">
                <li><a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li><a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
            <p><strong>&copy; 2015 Human Health</strong><br/>Optimizing Human Kind</p>
        </div>
    </div>
</div>
</section>
<% content_for :javascript do %>

<script type="text/javascript">


$(document).ready(function () {

    $('body').addClass('landing-page');
    $('body').attr('id', 'page-top');

    $('body').scrollspy({
        target: '.navbar-fixed-top',
        offset: 80
    });

    // Page scrolling feature
    $('a.page-scroll').bind('click', function(event) {
        var link = $(this);
        $('html, body').stop().animate({
            scrollTop: $(link.attr('href')).offset().top - 50
        }, 500);
        event.preventDefault();
    });

    var cbpAnimatedHeader = (function() {
        var docElem = document.documentElement,
                header = document.querySelector( '.navbar-default' ),
                didScroll = false,
                changeHeaderOn = 200;
        function init() {
            window.addEventListener( 'scroll', function( event ) {
                if( !didScroll ) {
                    didScroll = true;
                    setTimeout( scrollPage, 250 );
                }
            }, false );
        }
        function scrollPage() {
            var sy = scrollY();
            if ( sy >= changeHeaderOn ) {
                $(header).addClass('navbar-scroll')
            }
            else {
                $(header).removeClass('navbar-scroll')
            }
            didScroll = false;
        }
        function scrollY() {
            return window.pageYOffset || docElem.scrollTop;
        }
        init();

    })();

    new WOW().init();
});


</script>

<% end %>
