<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>The below user has contacted Human Health through our Care Home website page.</h3>
    <ul>
      <li>First Name: <%= @contact.first_name %></li>
      <li>Last Name: <%= @contact.last_name %></li>
      <li>Email: <%= @contact.email %></li>
      <li>Phone: <%= @contact.phone%></li>
      <li>I am ... <%= @contact.context %></li>
      <li>Message: <%= @contact.message %></li>
    </ul>
  </body>
</html>
